<div class="custom-dropdown">
    <div class="dropdown-header" (click)="toggleDropdown()" (blur)="markAsTouched()" tabindex="0">
        {{ selectedValue || placeholder }}
        <i class="bi bi-chevron-down" [class.rotated]="isOpen"></i>
    </div>
    <div class="dropdown-list" *ngIf="isOpen">
        <div class="dropdown-item" *ngFor="let item of items" (click)="selectItem(item)" [class.selected]="selectedValue === item[displayField]">
            {{ item[displayField] }}
        </div>
    </div>
    <div *ngIf="showError && errorMessage" class="error-message invalid-feedback">
        {{ errorMessage }}
    </div>
</div>