.card {
    box-shadow: 0 4px 20px 0 #41404026 !important;
}

.card-title {
    font-size: 12px !important;
}

.small-font {
    font-size: 11px !important;
}

.exhibitor-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}