.error-box-wrapper {
    background-color: var(--primary-fade);
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    .error-title {
        font-weight: 600;
        color: #FF3B30;
    }
    .error-desc {
        font-weight: 400;
        color: #FF3B30;
    }
}

.note {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.note-desc {
    font-size: 16px;
    font-weight: 400;
}